body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.main-menu {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 1rem;
  min-width: 200px;
}
